global
        log /dev/log    local0
        log /dev/log    local1 notice
        chroot /var/lib/haproxy
        stats socket /run/haproxy/admin.sock mode 660 level admin
        stats timeout 30s
        user haproxy
        group haproxy
        daemon

defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        timeout connect 5000
        timeout client  50000
        timeout server  50000
        errorfile 400 /etc/haproxy/errors/400.http
        errorfile 403 /etc/haproxy/errors/403.http
        errorfile 408 /etc/haproxy/errors/408.http
        errorfile 500 /etc/haproxy/errors/500.http
        errorfile 502 /etc/haproxy/errors/502.http
        errorfile 503 /etc/haproxy/errors/503.http
        errorfile 504 /etc/haproxy/errors/504.http

frontend stats
        bind 0.0.0.0:8404
        stats enable
        stats uri /stats
        stats refresh 10s
        stats admin if LOCALHOST

frontend rails-web
        bind 0.0.0.0:80
        default_backend rails-web-backend

backend rails-web-backend
        balance roundrobin
        cookie SERVERID insert indirect nocache
        {% for host in web %}
        server {{ host.ip }} {{ host.ip }}:{{ host.port }} check cookie {{ host.ip }}
        {% endfor %}
